@model TranslationHistoryViewModel

<h1>History</h1>

<table class="table">
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Source language</th>
            <th>Target language</th>
            <th>Query</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.History)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromLanguage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToLanguage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To)
                </td>
            </tr>
        }
    </tbody>
</table>
